body {
	margin: 0; /* remove gap between body and main */
}

#main {
	background-color: green;
	
	width: 100vw; /* make main div fill entire body */
	height: 100vh; 

	display: flex; /* display left and right horizontally */
}

#left {
	background-color: red;
	
	width: 30%;
	min-width: 200px;
	max-width: 350px;

	height: 100%; /* make sidebar fill vertical space */
}

#right {
	background-color: blue;
	
	flex-basis: 0; /* don't grow to fit content */
	flex-grow: 1; /* fill remaining flex-box space */

	padding: 32px; 

	overflow-y: scroll; /* scroll vertically */
}

img {
	max-width: 100%; /* limit size to width of right */
	height: auto; /* maintain aspect ratio */
}